body {
  font-family: 'Arial', sans-serif;
  background-color: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 0;
}

#intro {
  text-align: center;
}

label {
  padding-top: 20px;
  padding-bottom: 10px;
}

#query {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.recipe-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

h1 {
  color: black;
  font-size: 36px;
  text-align: center;
}

h2 {
  color: black;
  font-size: 28px;
}

h3 {
  color: #28a745;
  font-size: 24px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  font-weight: bold;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 0;
  background-color: #28a745;
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  border-radius: 5px;
}

.button:hover {
  background-color: #218838;
}

ul, p {
  margin: 0;
}
